<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Template Rendering</title>
</head>
<body>
    <button onclick="window.location.href='/plan'" id="button1">Plan</button>
    <button onclick="window.location.href='/segment'" id="button2">Segment</button>
    <button onclick="window.location.href='/classifier'" id="button3">Classifier</button>

    <div id="template-container"></div>

</body>
</html>